.widgeLg{
    flex:2;
    border-radius: 10px;
    padding:30px;
    margin-right: 10px;
    box-shadow: -7px 13px 43px -3px rgba(0,0,0,0.35);
    -webkit-box-shadow: -7px 13px 43px -3px rgba(0,0,0,0.35);
    -moz-box-shadow: -7px 13px 43px -3px rgba(0,0,0,0.35);
}
.widgeLgTitle{
    font-size: 22px;
    font-weight: 500;
}
.widgeLgTable{
    width:100%;
    border-spacing: 20px;
}
.widgeLgTh{
    text-align: left;
}
.widgeLgTdUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.widgeLgImage{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right: 10px;
}
.widgeLgDate,.widgeLgAmount{
    font-weight: 200;
}
.widgeLgButton{
    padding:5px 10px;
    border-radius: 5px;
    border:none;
}
.widgeLgButton.Approved{
    background-color: lightblue;
    color:darkblue;
}
.widgeLgButton.Declined{
    background-color: lightcoral;
    color:darkred;
}
.widgeLgButton.Pending{
    background-color: lightgray;
    color:darkgray;
}